<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">MedicOwl</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="index.html">Diagnosys</a></li>
        <li><a href="history.html">History</a></li>
        <li><a href="contacts.html">Contacts</a></li>
        <li><a href="#" onclick="openModal('settings-modal')">Settings</a></li>
      </ul>
    </div>
  </nav>
</header>
