<body>
  <main>
    <div class="row">
      <div class="col s12">
        <table class="striped">
          <thead>
            <tr>
              <th data-field="date_from">From</th>
              <th data-field="date_to">To</th>
              <th data-field="symptoms">Symptoms</th>
              <th data-field="doctor">Doctor</th>
              <th data-field="medicine">Medicine</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Anne Klint</td>
              <td>Cardiologist</td>
              <td>Heart Clinic</td>
              <td>laegeklint@examlpe.dk</td>
              <td>52650102</td>
            </tr>
            <tr>
              <td>Ali Alvari</td>
              <td>Urulogist</td>
              <td>Medical Center</td>
              <td>laegealvari@examlpe.dk</td>
              <td>52640304</td>
            </tr>
            <tr>
              <td>Anders Marple</td>
              <td>Neurologist</td>
              <td>Neurology Clinic</td>
              <td>laegemarple@examlpe.dk</td>
              <td>52678785</td>
            </tr>
            <tr>
              <td>Gulan Skovgard</td>
              <td>Psychiatrist</td>
              <td>Psychiatry Center</td>
              <td>laegeskovgard@examlpe.dk</td>
              <td>52665423</td>
            </tr>
            <tr>
              <td>Nikolaj Andersen</td>
              <td>Gastroenterologist</td>
              <td>Gastroenterology Clinic</td>
              <td>laegeandersen@examlpe.dk</td>
              <td>52543241</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
