<h4>Welcome</h4>
<p>Home</p>

<div class="main-container">
    <a href="{{appurl}}" class="waves-effect waves-light btn-small">Launch native app consent request</a>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Requests</a></li>
    <li><a href="#">Settings</a></li>
</ul>
